* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

.noPadding {
  padding: 0 !important;
}

canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#preLoader {
  background-color: #e8e8e8;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 100%; */
  height: 100vh;
  width: 100% !important;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: "preLoad";
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.loadingText {
  margin-top: 100px;
  font-family: monospace;
  font-size: 1rem;
}

.cube-loader {
  position: relative;
  /* u can choose any size */
  width: 75px;
  height: 35px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
    left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
    left: 0; */
  /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 0%) 0%,
    hsl(0, 0%, 0%) 5.5%,
    hsl(0, 0%, 0%) 12.1%,
    hsl(0, 0%, 100%) 100%,
    hsl(0, 0%, 0%) 27.9%,
    hsl(0, 0%, 0%) 36.6%,
    hsl(0, 0%, 0%) 45.6%,
    hsl(0, 0%, 100%) 100%,
    hsl(0, 0%, 0%) 63.4%,
    hsl(0, 0%, 0%) 71.7%,
    hsl(0, 0%, 0%) 79.4%,
    hsl(0, 0%, 100%) 100%,
    hsl(0, 0%, 0%) 100%,
    hsl(0, 0%, 0%) 100%,
    hsl(0, 0%, 0%) 100%,
    hsl(0, 0%, 100%) 100%
  );
}

.cube-top {
  position: absolute;
  width: 75px;
  height: 75px;
  background: hsl(330, 3.13%, 25.1%) 0%;
  /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(37.5px);
  transform-style: preserve-3d;
}

.cube-top::before {
  content: "";
  position: absolute;
  /* u can choose any size */
  width: 75px;
  height: 75px;
  background: hsl(0, 0%, 0%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(10px);
  box-shadow: 0 0 10px #323232, 0 0 20px hsl(0, 0%, 100%) 19.6%,
    0 0 30px #323232, 0 0 40px hsl(0, 0%, 100%) 19.6%;
}

/* .details {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
} */

.labText {
  position: fixed;
  z-index: 2;
  color: transparent;
  -webkit-text-stroke: #fff 4px;
  font-size: 10rem !important;
  right: 27%;
  bottom: 40%;
  /* transform: translate(-20%, -40%); */
}

.scroll-downs {
  position: fixed;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  width: 24px;
  height: 45px;
  opacity: 0.5;
}
.mousey {
  width: 3px;
  padding: 8px 10px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  color: transparent;
  -webkit-text-stroke: #323232 2px;
}

.serviceCard {
  background-color: #323232;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  padding: 0;
  border-radius: 5px;
  transition: 0.3s;
}

.halfCard {
  background-color: #e8e8e8;
  width: 100%;
  height: 50%;
  /* height: 250px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.serviceText {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.serviceDiscription {
  font-size: 1rem;
}

.startingPrice {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.priceBox {
  width: 100%;
  height: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.startText {
  font-family: "Roboto", sans-serif;
}

.imgHolder {
  /* position: absolute; */
  z-index: 1;
  width: 100%;
  /* height: 250px; */
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageHalf {
  width: 250px;
  /* height: 200px; */
  transition: 0.3s;
  top: 40px;
  position: relative;
  filter: grayscale(0.8);
}

.serviceCard:hover {
  cursor: pointer;
  margin-top: -5px;
  transition: 0.3s;
}

.serviceCard:hover .imageHalf {
  transform: scale(1.03);
  filter: grayscale(0.1) !important;
  transition: 0.3s;
}

.section {
  height: 90vh;
  display: flex;
  align-items: center;
}

/* testimonials  */

.swiper-button-next {
  color: #000;
}
.swiper-button-next:hover {
  cursor: pointer;
}
.swiper-button-prev {
  color: #000;
}

.swiper-button-prev:hover {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

.clientImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  background-position: top;
  filter: grayscale(1);
  transition: 0.3s;
}

.swiper-slide:hover .clientImg {
  filter: grayscale(0);
  transition: 0.3s;
}

.clientName {
  font-size: 1.8rem;
}

/* testimonials  */

/* Team Cards */

.profileWrap {
  height: auto;
  width: auto;
  flex-wrap: wrap;
}

.teamBg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.3s;
  z-index: -2;
}

.teamProfile {
  /* width: 100%; */
  height: 320px;
  object-fit: cover;
  position: absolute;
  transition: 0.3s;
}

.profileWrap:hover .teamProfile {
  transform: translateY(-50px);
  transition: 0.3s;
  border-radius: 0 0 20px 20px;
}

.profileWrap:hover .teamBg {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  border-radius: 0 0 10px 10px;
  transition: 0.3s;
}

.teamCard:hover .teamProfile {
  transform: translateY(-50px);
  transition: 0.3s;
  border-radius: 0 0 20px 20px;
}

.teamCard:hover .teamBg {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  border-radius: 0 0 10px 10px;
  transition: 0.3s;
}

.teamName {
  font-size: 1.4rem;
}

.teamPosition{
  font-size: 1.2rem;
  position: absolute;
  z-index: -1;
  margin-bottom: 22px;
}

.crossLine {
  width: 80%;
  height: 3px;
  background-color: #323232;
  opacity: .7;
}

.socialIcons {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.smIcons {
  color: #323232;
  transition: 0.3s;
}

.smIcons:hover .socialIcons {
  margin-top: 5px;
  transition: 0.3s;
}

/* Team Cards */

@media screen and (max-width: 1440px) {
  .labText {
    font-size: 10rem;
    right: 21%;
    bottom: 35%;
    color: transparent;
    -webkit-text-stroke: #fff 4px;
  }
  h1 {
    font-size: 2.4rem !important;
  }
  .serviceText {
    font-size: x-large;
  }
  .serviceDiscription {
    font-size: 0.9rem;
  }
  .imageHalf {
    width: 200px;
  }
  .serviceCard {
    height: 450px;
  }
  .imageHalf {
    top: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .labText {
    font-size: 4rem;
    right: 50%;
    bottom: 45%;
    transform: translate(50%, 50%);
    -webkit-text-stroke: transparent 1px;
    color: white;
  }
  h1 {
    font-weight: 600;
    font-size: 1.8rem !important;
    color: #323232 !important;
    -webkit-text-stroke: transparent;
  }
  .serviceText {
    font-size: large;
  }
  .serviceDiscription {
    font-size: 0.6rem;
  }
  .imageHalf {
    width: 150px;
  }
  .serviceCard {
    height: 350px;
  }
  .imageHalf {
    top: 10px;
  }
  .priceBox {
    margin-bottom: 20px;
  }
}
